# export GOPATH="$HOME/go"
# path=("$GOPATH/bin" $path)
# [[ -d /usr/local/go/bin ]] && path=(/usr/local/go/bin $path)

# export NVM_DIR="$XDG_CONFIG_HOME/nvm"
# path=("$NVM_DIR"/versions/node/*/bin(Nn[-1]) $path)
